Repository RustLangES/design-system-components, pull requests merged in 2025-07, with the labels that each got.

#50 React/input search
  js/react/lib/components/input-search/index.ts
  js/react/lib/components/input-search/input-search.component.tsx
  js/react/lib/hooks/use-boolean.ts
  js/react/lib/icons/filter.tsx
  js/react/lib/icons/search.tsx
  js/react/lib/index.ts
  js/react/showcase/App.tsx
  js/react/showcase/ShowComponent/Container.tsx
  js/react/showcase/ShowComponent/index.tsx
  styles/components.css
  styles/components/input-search.css
  styles/theme.css
Labels: React, New Component

#49 Implementacion de cardComponent
  js/react/lib/components/card/card.component.tsx
  js/react/lib/components/card/index.ts
  js/react/lib/index.ts
  js/react/showcase/App.tsx
  styles/components.css
  styles/components/card.css
Labels: React, New Component

#53 feat: Migrate to agnostic showcase
  .github/workflows/npm-checks.yml
  .prettierignore
  js/react/index.html
  js/react/lib/components/avatar/avatar.showcase.tsx
  js/react/lib/components/badge/badge.showcase.tsx
  js/react/lib/components/button/button.showcase.tsx
  js/react/lib/components/calendar/calendar.showcase.tsx
  js/react/lib/components/card/card.showcase.tsx
  js/react/lib/components/chip/chip.showcase.tsx
  js/react/lib/components/collaborators/collaborators.showcase.tsx
  js/react/lib/components/contact-form/contact-form.showcase.tsx
  js/react/lib/components/dropdown-tree/dropdown-tree.showcase.tsx
  js/react/lib/components/dropdown/dropdown.showcase.tsx
  js/react/lib/components/flap/flap.showcase.tsx
  js/react/lib/components/input-search/input-search.showcase.tsx
  js/react/lib/components/input/input.showcase.tsx
  js/react/lib/components/level/level.showcase.tsx
  js/react/lib/components/progress-bar/progress-bar.showcase.tsx
  js/react/lib/components/radio/radio.showcase.tsx
  js/react/lib/components/tag/tag.showcase.tsx
  js/react/lib/showcases.ts
  js/react/showcase/App.tsx
  js/react/showcase/ErrorBoundary.ts
  js/react/showcase/ShowComponent/Container.tsx
  js/react/showcase/ShowComponent/Error.tsx
  js/react/showcase/ShowComponent/Field.tsx
  js/react/showcase/ShowComponent/index.tsx
  js/react/showcase/ShowComponent/types.ts
  js/react/showcase/icons.tsx
  js/react/showcase/main.tsx
  js/react/showcase/styles.css
  js/react/vite.config.ts
  js/showcase/.gitignore
  js/showcase/eslint.config.ts
  js/showcase/package.json
  js/showcase/src/case.tsx
  js/showcase/src/error.tsx
  js/showcase/src/field.tsx
  js/showcase/src/icons.tsx
  js/showcase/src/index.ts
  js/showcase/src/miniui/index.ts
  js/showcase/src/react/ErrorBoundary.ts
  js/showcase/src/react/index.tsx
  js/showcase/src/react/render.ts
  js/showcase/src/styles.css
  js/showcase/src/theme.tsx
  js/showcase/src/vite-env.d.ts
  js/showcase/tsconfig.json
  js/showcase/tsconfig.lib.json
  js/showcase/tsconfig.node.json
  js/showcase/vite.config.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  styles/package.json
  styles/tailwindcss.css
  styles/utilities.css
  styles/utilities/dark.css
Labels: enhancement, New Support

#54 feat: Add Vue setup and showcase support
  .gitattributes
  js/showcase/package.json
  js/showcase/src/case.tsx
  js/showcase/src/field.tsx
  js/showcase/src/index.ts
  js/showcase/src/miniui/index.ts
  js/showcase/src/react/index.tsx
  js/showcase/src/vue/ErrorBoundary.ts
  js/showcase/src/vue/index.tsx
  js/showcase/src/vue/render.ts
  js/showcase/vite.config.ts
  js/vue/.gitignore
  js/vue/eslint.config.ts
  js/vue/index.html
  js/vue/lib/components/rs-button.showcase.vue
  js/vue/lib/components/rs-button.vue
  js/vue/lib/icons/index.ts
  js/vue/lib/icons/rs-location.vue
  js/vue/lib/index.ts
  js/vue/lib/showcases.ts
  js/vue/lib/styles.css
  js/vue/lib/vite-env.d.ts
  js/vue/package.json
  js/vue/showcase/main.ts
  js/vue/showcase/styles.css
  js/vue/showcase/vite-env.d.ts
  js/vue/tsconfig.app.json
  js/vue/tsconfig.json
  js/vue/tsconfig.node.json
  js/vue/vite.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: Vue, New Support

#55 Some Leptos Components
  Cargo.lock
  Cargo.toml
  crates/core/Cargo.toml
  crates/core/src/lib.rs
  crates/leptos/Cargo.toml
  crates/leptos/src/avatar.rs
  crates/leptos/src/badge.rs
  crates/leptos/src/button.rs
  crates/leptos/src/card.rs
  crates/leptos/src/chip.rs
  crates/leptos/src/flap.rs
  crates/leptos/src/icons.rs
  crates/leptos/src/icons/alert.rs
  crates/leptos/src/icons/arrow_down.rs
  crates/leptos/src/icons/arrow_left.rs
  crates/leptos/src/icons/arrow_right.rs
  crates/leptos/src/icons/arrow_up.rs
  crates/leptos/src/icons/book.rs
  crates/leptos/src/icons/close.rs
  crates/leptos/src/icons/discord.rs
  crates/leptos/src/icons/ferris.rs
  crates/leptos/src/icons/file.rs
  crates/leptos/src/icons/filter.rs
  crates/leptos/src/icons/github.rs
  crates/leptos/src/icons/link.rs
  crates/leptos/src/icons/linkedin.rs
  crates/leptos/src/icons/location.rs
  crates/leptos/src/icons/menu.rs
  crates/leptos/src/icons/moon.rs
  crates/leptos/src/icons/project.rs
  crates/leptos/src/icons/roadmap.rs
  crates/leptos/src/icons/search.rs
  crates/leptos/src/icons/share.rs
  crates/leptos/src/icons/star_bold.rs
  crates/leptos/src/icons/sun_line.rs
  crates/leptos/src/icons/telegram.rs
  crates/leptos/src/icons/twitter.rs
  crates/leptos/src/icons/youtube.rs
  crates/leptos/src/input.rs
  crates/leptos/src/input/search.rs
  crates/leptos/src/level.rs
  crates/leptos/src/lib.rs
  crates/leptos/src/progress_bar.rs
  crates/leptos/src/radio.rs
  crates/leptos/src/tag.rs
  crates/lib.rs
  icons-from-react.nu
  sc.toml
Labels: enhancement, Leptos, New Component, New Support
